<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IScheduleJobService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/ScheduleJobService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScheduleJobService" contract="ScheduleJobServices.IScheduleJobService" name="BasicHttpBinding_IScheduleJobService"/>
        </client>
    </system.serviceModel>
</configuration>
