<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 當服務啟動時，是否要執行服務停止時，未執行的過期的工作 -->
    <add key="DoExpiredJob" value="True"/>
    <!-- ReTry 秒數 -->
    <add key="ReTrySec" value="30"/>
    <!-- 遠端管理 ScheduleJob 的 WCF Service Port -->
    <add key="JobManagePort" value="9001"/>
    <!-- SMTP Server Address -->
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <!-- 發送 JOB 負責人通知信件的MAIL帳號 -->
    <add key="MailAccount" value="gelis.wu@mentortrust.com"/>
    <!-- 發送 JOB 負責人通知信件的MAIL密碼 -->
    <add key="MailPwd" value=""/>
    <!-- 發送 JOB 負責人通知信件的MAIL管理者帳號 -->
    <add key="FromAddr" value="gelis.wu@mentortrust.com"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
